<div class="content text-center" role="main">
    <div class="row">
        <div class="col-xs-12">
            <img src="{{imageURL}}" alt="Avatar">
        </div>
    </div>
    <div class="row mtop">
        <div class="col-xs-12 title">{{getCurrentTitle()}}</div>
    </div>
    <div class="row">
        <div class="col-xs-12 value">{{getCurrentValue()}}</div>
    </div>
    <div class="row mtop">
        <div *ngFor="let item of items; let i=index">
            <div class="col-xs-2">
                <span *ngIf="i==currentItem" class="material-icons enlight arrow">keyboard_arrow_up</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let item of items; let i=index">
            <div class="col-xs-2">
                <span [ngClass]="{'enlight': i === currentItem}" class="material-icons gray bigger-icon" (mouseover)="currentItem=i">{{item}}</span>
            </div>
        </div>
    </div>
</div>